body {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    margin-top: 40px;
}

.content_container {
    width: 300px;
    margin: 0 auto;
    border: 1px solid darkgreen;
    padding: 15px;
    border-radius: 5px;
}

h1 {
 margin-bottom: 15px;
}

input {
    width: 250px;
    padding: 4px;
    margin-right: 4px;
}

button {
    padding: 5px 15px;
    cursor: pointer;
    background-color: blue;
    border: none;
    border-radius: 4px;
}

button:hover {
    background-color: lightseagreen;
}

ul {
    list-style: none;
    padding: 0;
    margin-top: 10px;
    text-align: left;
}

li {
    margin-bottom: 15px;
}